/* https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-4-16/gtk/theme/Default/_colors-public.scss */

window.Bar>box {
    background: transparent;
    color: white;
    font-weight: bold;
}

window.Bar button {
    min-height: 0;
    min-width: 0;
    border-radius: 8px;
    margin: 4px;
    padding: 4px 8px;

    background:
        linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        linear-gradient(135deg,
            rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0.1),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.3));
    border: 0;
    box-shadow:
        0 2px 6px rgba(0, 0, 0, 0.2),
        inset 0 1px 0 rgba(255, 255, 255, 0.35);
    color: white;
}
